<form action="/todos/{{ todo._id }}?_method=PUT" method="POST">
  <input type="checkbox" name="check" {{#if todo.isDone}} checked {{/if}}> {{!--
  這個欄位本身和物件實例沒什麼關係，而是透過物件實例的變數傳過來使用之後，才會在這個表單上面呈現跟物件實例屬性有關的畫面--}}


  {{!-- 如果checkbox有被打勾，瀏覽器的req內容，這一個名為isDone(可以自行命名，不一定要跟isDone一樣）的input之值，就會變成isDone = 'on' --}}
  {{!-- 伺服器接收到isDone = 'on'的req，把todo.isDone的布林值存入todo的物件實例 --}}
  {{!-- 最後再回傳重新整理頁面時，因為todo.isDone為真，在if的判斷是下，這個checkbox就回傳checked的狀態 --}}
  {{!-- 編輯時的打勾，資料庫還沒被修改，編輯之後的打勾，是因為資料庫中的isDone這個布林值已經被儲存為true(預設為false)因此才打勾 --}}

  {{!-- ， --}}
  <input type="text" placeholder="name" name="name" value="{{ todo.name }}">
  <button type="submit">Save</button>
  <a href="/">back</a>
</form>